@font-face {
  font-family: "Karla";
  src: url("/fonts/karla/Karla-VariableFont_wght.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    scroll-behavior: smooth;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  /* complex gradient not doable in tailwind
  #4030a5 = oz-blue */
  @media screen and (max-width: 767px) {
    .oz-header-gradient {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 20%,
        rgba(64, 48, 165, 0.5) 60%,
        rgba(64, 48, 165, 1)
      );
    }
  }

  @media screen and (min-width: 768px) {
    .oz-header-gradient {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 23%,
        #4030a5
      );
    }
  }

  .oz-box-shadow {
    box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
  }

  .text-link-style {
    @apply text-blue-600;
  }

  .text-link-style:hover {
    @apply underline;
  }
}
